<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8eabb0">  <td>20/02/26 11:43:36</td>   <td>0</td> <td title="&gt;&gt;ProgressiveAutoQuoteTestNg.beforeSuit()[pri:0, instance:TestNg.ProgressiveAutoQuoteTestNg@124c278f]">&gt;&gt;beforeSuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1541857308</td>   <td></td> </tr>
<tr bgcolor="8eabb0">  <td>20/02/26 11:43:36</td>   <td>5</td> <td>&nbsp;</td><td title="&gt;&gt;ProgressiveAutoQuoteTestNg.setUptest()[pri:0, instance:TestNg.ProgressiveAutoQuoteTestNg@124c278f]">&gt;&gt;setUptest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1541857308</td>   <td></td> </tr>
<tr bgcolor="8eabb0">  <td>20/02/26 11:43:42</td>   <td>5901</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProgressiveAutoQuoteTestNg.ProgressiveAutoQuote()[pri:0, instance:TestNg.ProgressiveAutoQuoteTestNg@124c278f]">ProgressiveAutoQuote</td> 
  <td>main@1541857308</td>   <td></td> </tr>
<tr bgcolor="8eabb0">  <td>20/02/26 11:44:08</td>   <td>31141</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProgressiveAutoQuoteTestNg.tearDown()[pri:0, instance:TestNg.ProgressiveAutoQuoteTestNg@124c278f]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1541857308</td>   <td></td> </tr>
<tr bgcolor="8eabb0">  <td>20/02/26 11:44:08</td>   <td>31144</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProgressiveAutoQuoteTestNg.ProgressiveGetAQuote()[pri:1, instance:TestNg.ProgressiveAutoQuoteTestNg@124c278f]">ProgressiveGetAQuote</td> 
  <td>main@1541857308</td>   <td></td> </tr>
<tr bgcolor="8eabb0">  <td>20/02/26 11:44:10</td>   <td>33700</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProgressiveAutoQuoteTestNg.tearDown()[pri:0, instance:TestNg.ProgressiveAutoQuoteTestNg@124c278f]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1541857308</td>   <td></td> </tr>
<tr bgcolor="8eabb0">  <td>20/02/26 11:44:10</td>   <td>33701</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProgressiveAutoQuoteTestNg.ProgressiveStartMyQuote()[pri:2, instance:TestNg.ProgressiveAutoQuoteTestNg@124c278f]">ProgressiveStartMyQuote</td> 
  <td>main@1541857308</td>   <td></td> </tr>
<tr bgcolor="8eabb0">  <td>20/02/26 11:44:25</td>   <td>48166</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProgressiveAutoQuoteTestNg.tearDown()[pri:0, instance:TestNg.ProgressiveAutoQuoteTestNg@124c278f]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1541857308</td>   <td></td> </tr>
<tr bgcolor="8eabb0">  <td>20/02/26 11:44:25</td>   <td>48167</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProgressiveAutoQuoteTestNg.ArbinProgressiveAboutYourVehicle()[pri:3, instance:TestNg.ProgressiveAutoQuoteTestNg@124c278f]">ArbinProgressiveAboutYourVehicle</td> 
  <td>main@1541857308</td>   <td></td> </tr>
<tr bgcolor="8eabb0">  <td>20/02/26 11:44:45</td>   <td>68195</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProgressiveAutoQuoteTestNg.tearDown()[pri:0, instance:TestNg.ProgressiveAutoQuoteTestNg@124c278f]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1541857308</td>   <td></td> </tr>
<tr bgcolor="8eabb0">  <td>20/02/26 11:44:45</td>   <td>68195</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProgressiveAutoQuoteTestNg.ArbinProgressiveAboutYourSelf()[pri:4, instance:TestNg.ProgressiveAutoQuoteTestNg@124c278f]">ArbinProgressiveAboutYourSelf</td> 
  <td>main@1541857308</td>   <td></td> </tr>
<tr bgcolor="8eabb0">  <td>20/02/26 11:45:04</td>   <td>87062</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProgressiveAutoQuoteTestNg.tearDown()[pri:0, instance:TestNg.ProgressiveAutoQuoteTestNg@124c278f]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1541857308</td>   <td></td> </tr>
<tr bgcolor="8eabb0">  <td>20/02/26 11:45:04</td>   <td>87063</td> <td>&nbsp;</td><td title="&lt;&lt;ProgressiveAutoQuoteTestNg.terminateTest()[pri:0, instance:TestNg.ProgressiveAutoQuoteTestNg@124c278f]">&lt;&lt;terminateTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1541857308</td>   <td></td> </tr>
<tr bgcolor="8eabb0">  <td>20/02/26 11:45:15</td>   <td>98056</td> <td title="&lt;&lt;ProgressiveAutoQuoteTestNg.tearDown()[pri:0, instance:TestNg.ProgressiveAutoQuoteTestNg@124c278f]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1541857308</td>   <td></td> </tr>
</table>
