<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>TestNg.ProgressiveAutoQuoteTestNg</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProgressiveAutoQuote</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ArbinProgressiveAboutYourVehicle</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ArbinProgressiveAboutYourSelf</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ProgressiveStartMyQuote</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ProgressiveGetAQuote</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>TestNg.GoolgeTestNg</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>performAction</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
