<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8eabb0">  <td>20/02/15 09:49:48</td>   <td>0</td> <td title="&gt;&gt;ProgressiveAutoQuoteTestNg.beforeSuit()[pri:0, instance:TestNg.ProgressiveAutoQuoteTestNg@1fe20588]">&gt;&gt;beforeSuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2095303566</td>   <td></td> </tr>
<tr bgcolor="66a265">  <td>20/02/15 09:49:48</td>   <td>6</td> <td>&nbsp;</td><td title="&gt;&gt;GoolgeTestNg.setUptest()[pri:0, instance:TestNg.GoolgeTestNg@6ce139a4]">&gt;&gt;setUptest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2095303566</td>   <td></td> </tr>
<tr bgcolor="8eabb0">  <td>20/02/15 09:49:54</td>   <td>5786</td> <td>&nbsp;</td><td title="&gt;&gt;ProgressiveAutoQuoteTestNg.setUptest()[pri:0, instance:TestNg.ProgressiveAutoQuoteTestNg@1fe20588]">&gt;&gt;setUptest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2095303566</td>   <td></td> </tr>
<tr bgcolor="8eabb0">  <td>20/02/15 09:49:59</td>   <td>11217</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProgressiveAutoQuoteTestNg.ProgressiveAutoQuote()[pri:0, instance:TestNg.ProgressiveAutoQuoteTestNg@1fe20588]">ProgressiveAutoQuote</td> 
  <td>TestNG-test=Test-1@1064923024</td>   <td></td> </tr>
<tr bgcolor="66a265">  <td>20/02/15 09:49:59</td>   <td>11217</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GoolgeTestNg.performAction()[pri:0, instance:TestNg.GoolgeTestNg@6ce139a4]">performAction</td> 
  <td>TestNG-test=Test-2@352783768</td>   <td></td> </tr>
<tr bgcolor="8eabb0">  <td>20/02/15 09:50:15</td>   <td>27438</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProgressiveAutoQuoteTestNg.tearDown()[pri:0, instance:TestNg.ProgressiveAutoQuoteTestNg@1fe20588]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@1064923024</td>   <td></td> </tr>
<tr bgcolor="8eabb0">  <td>20/02/15 09:50:15</td>   <td>27439</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProgressiveAutoQuoteTestNg.ProgressiveGetAQuote()[pri:1, instance:TestNg.ProgressiveAutoQuoteTestNg@1fe20588]">ProgressiveGetAQuote</td> 
  <td>TestNG-test=Test-1@1064923024</td>   <td></td> </tr>
<tr bgcolor="8eabb0">  <td>20/02/15 09:50:18</td>   <td>30006</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProgressiveAutoQuoteTestNg.tearDown()[pri:0, instance:TestNg.ProgressiveAutoQuoteTestNg@1fe20588]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@1064923024</td>   <td></td> </tr>
<tr bgcolor="8eabb0">  <td>20/02/15 09:50:18</td>   <td>30006</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProgressiveAutoQuoteTestNg.ProgressiveStartMyQuote()[pri:2, instance:TestNg.ProgressiveAutoQuoteTestNg@1fe20588]">ProgressiveStartMyQuote</td> 
  <td>TestNG-test=Test-1@1064923024</td>   <td></td> </tr>
<tr bgcolor="8eabb0">  <td>20/02/15 09:50:33</td>   <td>45056</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProgressiveAutoQuoteTestNg.tearDown()[pri:0, instance:TestNg.ProgressiveAutoQuoteTestNg@1fe20588]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@1064923024</td>   <td></td> </tr>
<tr bgcolor="8eabb0">  <td>20/02/15 09:50:33</td>   <td>45056</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProgressiveAutoQuoteTestNg.ArbinProgressiveAboutYourVehicle()[pri:3, instance:TestNg.ProgressiveAutoQuoteTestNg@1fe20588]">ArbinProgressiveAboutYourVehicle</td> 
  <td>TestNG-test=Test-1@1064923024</td>   <td></td> </tr>
<tr bgcolor="8eabb0">  <td>20/02/15 09:50:53</td>   <td>65245</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProgressiveAutoQuoteTestNg.tearDown()[pri:0, instance:TestNg.ProgressiveAutoQuoteTestNg@1fe20588]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@1064923024</td>   <td></td> </tr>
<tr bgcolor="8eabb0">  <td>20/02/15 09:50:53</td>   <td>65245</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProgressiveAutoQuoteTestNg.ArbinProgressiveAboutYourSelf()[pri:4, instance:TestNg.ProgressiveAutoQuoteTestNg@1fe20588]">ArbinProgressiveAboutYourSelf</td> 
  <td>TestNG-test=Test-1@1064923024</td>   <td></td> </tr>
<tr bgcolor="8eabb0">  <td>20/02/15 09:51:12</td>   <td>84252</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProgressiveAutoQuoteTestNg.tearDown()[pri:0, instance:TestNg.ProgressiveAutoQuoteTestNg@1fe20588]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@1064923024</td>   <td></td> </tr>
<tr bgcolor="66a265">  <td>20/02/15 09:51:12</td>   <td>84253</td> <td>&nbsp;</td><td title="&lt;&lt;GoolgeTestNg.terminateTest()[pri:0, instance:TestNg.GoolgeTestNg@6ce139a4]">&lt;&lt;terminateTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2095303566</td>   <td></td> </tr>
<tr bgcolor="8eabb0">  <td>20/02/15 09:51:27</td>   <td>98880</td> <td>&nbsp;</td><td title="&lt;&lt;ProgressiveAutoQuoteTestNg.terminateTest()[pri:0, instance:TestNg.ProgressiveAutoQuoteTestNg@1fe20588]">&lt;&lt;terminateTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2095303566</td>   <td></td> </tr>
<tr bgcolor="8eabb0">  <td>20/02/15 09:51:38</td>   <td>109840</td> <td title="&lt;&lt;ProgressiveAutoQuoteTestNg.tearDown()[pri:0, instance:TestNg.ProgressiveAutoQuoteTestNg@1fe20588]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2095303566</td>   <td></td> </tr>
</table>
